WcfServiceLibrary1/OrderDashboard/Connected Services/OrderServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderStatus" nillable="true" type="tns:OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderStatus" nillable="true" type="tns:ArrayOfOrderStatus" />
  <xs:complexType name="OrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
</xs:schema>